/* Events Container */
.events-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

/* Event List */
.event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Event Card */
.event-card {
  background-color: #f8f8f8;
  border-radius: 8px;
  padding: 15px;
  width: 300px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
}

/* Register Button */
.register-btn {
  background-color: #e97424;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  display: block;
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

.register-btn:hover {
  background-color: #d1631c;
}

/* No Events Message */
.no-events {
  font-size: 18px;
  font-weight: bold;
  color: #666;
}
